<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'About Indie&nbsp;Sumo'.html_safe %>

  <div class="plain-page-text">
    <p>Hey, I'm Evrim, the creator of Indie Sumo.</p>
    <p>I'm a software developer and an entrepreneur. After shutting down my second business, I decided to get into
      remote working and independently developing applications to support my income.</p>
    <p>When I decided to get into indie development, I started researching who to follow, what articles to read and what
      websites to visit. While doing the research, I realized that other people could find it valuable, and I
      decided to share what I found on this website.</p>
    <p>So, I hope you find value in this, and if you do, I'd love to hear from you even if it's just to say "hi." You
      can get in touch with me at "hi at evrim dot io".</p>
    <p>Also, you can find
      <a href="https://github.com/evrimfeyyaz/indie-sumo">the source code of Indie Sumo on GitHub</a>. It's written in
      Rails, with a sprinkle of jQuery. If you are interested in creating a similar curated website, feel free to get in
      touch with me and I'll help you set it up.</p>

    <p><a href="https://twitter.com/evrimfeyyaz">Follow me on Twitter.</a></p>
    <p><a href="https://evrim.io">Visit my website.</a></p>
    <p>If you are looking for a Rails developer, <a href="https://evrim.io/hire-me">I might be available for hire.</a></p>
  </div>
</div>
