<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'Oops...' %>
  <%= render 'shared/page_description',
             description: "We're sorry, but something went wrong.".html_safe %>
</div>
