<div class="container-flex-column">
  <%= render 'shared/page_title', title: 'Newsletter' %>
  <%= render 'shared/page_description',
             description: 'Get the best new blog articles, news, podcasts and more each week right in your inbox.' %>

  <div class="newsletter-form">
    <%= render 'shared/newsletter_form' %>
  </div>
</div>
