<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'Newsletter' %>
  <%= render 'shared/page_description',
             description: "Interested in the business of software? Once a week, I send out an e&#8209;mail with the best stuff I've found on software, business, productivity and more.".html_safe %>

  <div class="newsletter-form">
    <%= render 'shared/newsletter_form' %>
  </div>
</div>
