<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'Newsletter' %>
  <%= render 'shared/page_description',
             description: 'Get the top new content for makers every week right in your inbox. You will get blog articles, news, podcasts and much more.' %>

  <div class="newsletter-form">
    <%= render 'shared/newsletter_form' %>
  </div>
</div>
