<%= render 'shared/page_title', title: 'Newsletter' %>
<%= render 'shared/page_description',
           description: 'Get the best new blog articles, news, podcasts and more each week right in your inbox.' %>

<div class="row">
  <div class="offset-lg-3 col-lg-6 px-5 text-center">
    <%= render 'shared/newsletter_form' %>
  </div>
</div>