<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'Oops...' %>
  <%= render 'shared/page_description',
             description: 'This page does not exist.<br>You might want to try searching for it instead.'.html_safe %>
</div>
