<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'Oops...' %>
  <%= render 'shared/page_description',
             description: "The change you wanted was rejected.<br>Maybe you tried to change something you didn't have access to.".html_safe %>
</div>
