<div class="information-recommendation">
  <%= render 'shared/page_title', title: "Improve #{@resource.title}" %>
  <%= render 'shared/page_description', description: "Do you think we are missing something? Let us know, and we will add it." %>

  <%= render 'form' %>
</div>
