<div class="share-button fb-share-button"
     data-layout="button_count"
     data-size="small"
     data-mobile-iframe="true"
     data-href="<%= request.original_url %>">
  <a target="_blank"
     href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url.html_safe %>"
     class="fb-xfbml-parse-ignore">&nbsp</a>
</div>
