<div class="newsletter-card card">
  <div class="newsletter-card-info">
    <h1 class="newsletter-card-title">
      Interested in <span class="emphasized">software</span> or&nbsp;<span class="emphasized">business</span>?<br>
    </h1>
    <p class="newsletter-card-description">
      Once a week, I send out an e&#8209;mail with the best stuff I've found on software, business, productivity and more.
    </p>
  </div>
  <div class="newsletter-card-form">
    <%= render 'shared/newsletter_form' %>
  </div>
</div>