<%=
  form_with url:   APP_SETTINGS['newsletter_url'],
            local: true,
            class: 'form' do |f|
%>
  <%= f.text_field :FNAME,
                   placeholder: 'Your name',
                   class:       'form-field text-field' %>
  <%= f.email_field :EMAIL,
                    placeholder: 'Your e-mail',
                    class:       'form-field text-field' %>

  <div class="form-info">
    No spam, unsubscribe at any time.
  </div>

  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_7d6b207df0db42f6bfcff3322_fbb0bb2608" tabindex="-1" value="">
  </div>

  <%= f.submit 'Submit', class: 'form-field button button-primary' %>
<% end %>