<div class="newsletter-card card">
  <div class="newsletter-card-info">
    <h1 class="newsletter-card-title">
      <span class="emphasized">Subscribe</span> for the<br><span class="emphasized">best content</span> each week
    </h1>
    <p class="newsletter-card-description">
      Get the best new blog articles, news, podcasts and more each week right in your inbox.
    </p>
  </div>
  <div class="newsletter-card-form">
    <%= render 'shared/newsletter_form' %>
  </div>
</div>