<div class="newsletter-card card">
  <div class="newsletter-card-info">
    <h1 class="newsletter-card-title">
      Are you a <span class="emphasized">maker</span>?<br>
      Or want to become one?
    </h1>
    <p class="newsletter-card-description">
      Get the top new blog articles, news, podcasts and much more every week right in your inbox.
    </p>
  </div>
  <div class="newsletter-card-form">
    <%= render 'shared/newsletter_form' %>
  </div>
</div>