<div class="share-buttons">
  <%#= render 'shared/facebook_share_button' %>
  <%#= render 'shared/twitter_share_button',
             text: APP_SETTINGS['default_twitter_share_text'] %>
  <%#= render 'shared/linkedin_share_button' %>
</div>