<% twitter_share_text ||= APP_SETTINGS['default_twitter_share_text'] %>
<div class="d-flex mt-4 justify-content-center align-items-bottom">
  <%= render 'shared/facebook_share_button' %>
  <%= render 'shared/twitter_share_button', text: twitter_share_text %>
  <%= render 'shared/linkedin_share_button' %>
</div>