<div class="resource-actions">
  <% if @resource.website.present? %>
    <%= link_to 'Visit Website',
                @resource.website,
                class: 'resource-action-button button button-primary button-outline' %>
  <% end %>
</div>