<% cache @comments do %>
  <div class="comments" id="comments">
    <h1>Comments (<%= @comments.count %>)</h1>
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <%= render 'comment', comment: comment %>
      <% end %>
    <% else %>
      <p>There are currently no comments. Be the first one to comment!</p>
    <% end %>
  </div>

<% end %>

<div id="add-comment" class="comment-add">
  <h2 class="comment-form-title">Add a Comment</h2>
  <%= render 'comment_form' %>
</div>
