<% show_description = true if local_assigns[:show_description].nil? %>
<% cache resource do %>
  <%= link_to_resource resource, class: 'card link' do %>
    <% if resource.icon.attached? %>
      <%= image_tag resource.icon, class: 'card-icon-large round' %>
    <% else %>
      <%= render 'shared/no_icon_large', title: resource.title %>
    <% end %>

    <h1 class="card-title">
      <%= resource.title %>
    </h1>
  <% end %>
<% end %>