<div class="search">
  <%= render 'shared/page_title', title: "Search" %>
  <%= render 'shared/page_description',
             description: result_count_message(@search_results.total_count, params[:query]) %>
  <%= render 'form' %>

  <div id="search-results">
    <%= render 'resources/resources', resources: @search_results if @search_results.total_count > 0 %>
  </div>
</div>
