<div class="container-flex-column">
  <%= render 'shared/page_title', content: "Search" %>

  <% if @search_results.any? %>
    <%= render 'shared/page_description',
               description: result_count_message(@search_results.total_count, params[:query]) %>
  <% end %>

  <%= render 'form' %>

  <div class="search-results container-flex-column" id="search-results">
    <%= render 'resources/resources', resources: @search_results if @search_results.any? %>
  </div>
</div>
