@mixin make-button-style($bg-color, $text-color, $hover-bg-color, $hover-text-color) {
  background-color: $bg-color;
  border: 1px solid $bg-color;
  color: $text-color;

  &:hover {
    color: $hover-text-color;
    background-color: $hover-bg-color;
    border-color: $hover-bg-color;
  }

  &.button-outline {
    background-color: $transparent;
    color: $bg-color;

    &:hover {
      background-color: $bg-color;
      border-color: $bg-color;
      color: $text-color;
    }
  }
}

.button {
  display: inline-block;
  padding: 0.5rem 3rem;
  transition: all .1s ease-in-out;
  cursor: pointer;
  border-radius: .5rem;
  text-decoration: none;
  text-align: center;
}

.button-primary {
  @include make-button-style($blue, $white, $dark-blue, $white)
}

.button-secondary {
  @include make-button-style($dark-gray, $white, $raisin-black, $white)
}

.button-light {
  @include make-button-style($white, $black, $off-white, $black)
}