.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
  justify-content: space-evenly;

  @media (max-width: $screen-small) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

.category {
  @extend %container-flex-column;
}

.recommend-resource-button {
  margin: 1rem 0;
}

.coming-soon {
  @extend %container-flex-column;
}

.coming-soon-newsletter {
  margin-top: 2rem;
}