.dropdown-menu-down-arrow {
  &:after {
    content: "\f0d7";
    display: inline-block;
    font-family: $icon-font;
    padding-left: 0.3rem;
    vertical-align: middle;
  }
}

[data-dropdown-menu="content"] {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: .5rem;
  margin: {
    left: -1rem;
    top: .7rem;
  }
  position: absolute;
  overflow: hidden;
  display: none;
}

[data-dropdown-menu="item"] {
  align-items: center;
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  text-align: center;

  &.active {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &:hover {
    background-color: $light-gray;
    color: $black;
  }
}