.flash {
  position: fixed;
  top: 85px;
  left: 200px;
  right: 200px;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 9999;
  color: $white;
  background-color: $orange;

  &.success,
  &.notice {
    background-color: rgba($green, 0.8);
  }

  &.alert {
    background-color: rgba($red, 0.8);
  }
}

.flash-close {
  display: inline-block;
  position: absolute;
  right: 15px;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $off-white;
  }
}