.flash {
  position: fixed;
  top: 80px;
  left: 10px;
  right: 10px;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 3px;
  z-index: 9999;

  &.success {
    background-color: rgba($green, 0.8);
    color: $white;
  }
}