.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;

  @media (max-width: $screen-medium) {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }
}

.form-field {
  border: 1px solid $light-gray;
  border-radius: .5rem;
  padding: 0.7rem 1rem;
  font: {
    size: 1rem;
    family: $montserrat;
  }
  line-height: 1.5;
  margin: 0.5rem auto;
}

.field_with_errors .form-field {
  border-color: $red;
}

.field_with_errors {
  width: 100%;
}

.form-error-message {
  color: $red;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.form-info {
  font-size: 0.8rem;
  color: $dark-gray;
  margin-bottom: 0.7rem;
  text-align: center;
}

.form-small {
  .form-field {
    padding: .25rem .5rem;
    font-size: 0.875rem;
  }

  .form-field {
    border-radius: 0.325rem;
  }
}

.form-inline {
  flex-direction: row;
  align-items: stretch;
  width: auto;

  .form-field {
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }
  }

  .button {
    margin-left: .5rem;
  }
}

.text-field,
.text-area {
  background-color: $light-gray;
  width: 100%;
}

.checkbox-group {
  display: flex;
  margin: 0.5rem auto;
  align-items: center;
}

input[type=checkbox] {
  width: 2rem;
  height: 2rem;
}

.recaptcha {
  margin: 0.5rem 0;
}

.form-links {
  margin-top: 1rem;
}

.form-link {
  margin: 0.3rem 0;
  text-align: center;

  @media (max-width: $screen-medium) {
    margin: 1rem 0;
  }
}