.header {
  background-color: $purple;
}

.tagline {
  text-align: center;
  padding: {
    top: 1rem;
    left: 4rem;
    right: 4rem;
    bottom: 3rem;
  }
}

.header-separator {
  border: none;
  height: .3rem;
  background-color: $orange;
  margin: 0;
}