.navigation {
  display: flex;

  @media (max-width: $screen-medium) {
    display: none;
  }
}

.menu-item {
  padding: 1rem 2rem;
}

.menu-profile-button {
  margin-left: 2rem;
}

.menu-signup-button {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}