html {
  background-color: $raisin-black;
  box-sizing: border-box;
  font: {
    family: $body-font;
    size: 14px;
  }
}

body {
  margin: {
    top: 74px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  line-height: 1.2;
  margin-bottom: 0.5rem;

  & + p {
    margin-top: 0;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

input:not[type=radio]:not[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}