[data-tabs="pane"] {
  display: none;
}

.tab-bar {
  display: flex;
  margin: 0 1rem;
}

.tab-content {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 0.5rem;
  margin-top: -1px;
  padding: 3rem 2rem;
  width: 100%;
  z-index: 100;
}

.tab {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid $light-gray;
  border-left: none;
  background-color: $white;
  cursor: pointer;

  &:first-child {
    border-left: 1px solid $light-gray;
    border-top-left-radius: 0.5rem;
  }

  &:last-child {
    border-right: 1px solid $light-gray;
    border-top-right-radius: 0.5rem;
  }

  &.active {
    color: $black;
    border-bottom: 1px solid $white;
    z-index: 101;

    &:hover {
      background-color: $white;
    }
  }

  &:hover {
    background-color: $off-white;
  }
}