// Colors
$off-white: #FAF7F7;
$dark-gray: #232323;

$blue: #4389da;
$orange: #FCA126;
$purple: #201037;
$dark-blue: #1e5799;

$brand-color: $orange;
$footer-bg-color: $dark-gray;
$bg-color: $off-white;
$nav-bg-color: $purple;
$light-link-color: white;
$dark-link-color: black;
$dropdown-menu-bg-color: white;

// Fonts
$font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
$headings-font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;