.topbar {
  background-color: $purple;
  padding: 1rem 5rem;
  height: 74px;
}

.topbar-container {
  display: flex;
  align-items: center;
}

.logo {
  color: $orange;
  font: {
    family: $roboto;
    size: 2.6rem;
  }
  text-decoration: none;
  flex: 1;

  &:hover {
    color: $orange;
  }
}