@import "_theme";
@import "bootstrap";

// General
html {
  font-size: 14px;
}

body {
  background-color: $background-color;
}

// Summary card
.summary-card {
  @extend .card;
  @extend .shadow;
  @extend .text-center;
  @extend .text-black-50;
  @extend .my-4;
  @extend .mx-auto;

  transition: background-color .3s ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: darken($card-bg, 1%);
  }
}

.summary-card__body {
  @extend .card-body;
}

.summary-card__icon {
  @extend .mb-3;
}

.summary-card__title {
  @extend .text-dark;
}

// Category index
.category-summary {
  @extend .summary-card;

  height: 185px;
  width: 290px;
}

.category-summary__body {
  @extend .summary-card__body;
}

.category-summary__icon {
  @extend .summary-card__icon;

  height: 32px;
}

.category-summary__title {
  @extend .summary-card__title;
}

// Resource index
.resource-summary {
  @extend .summary-card;

  height: 235px;
  width: 290px;
}

.resource-summary__body {
  @extend .summary-card__body;
}

.resource-summary__icon {
  @extend .summary-card__icon;
  @extend .rounded-circle;

  height: 100px;
}

.resource-summary__title {
  @extend .summary-card__title;
}

.resource-summary.is-not-link {
  &:hover {
    background-color: $card-bg;
  }
}

// Headers
.page-title {
  @extend .display-4;
  @extend .text-center;
}

.page-description {
  @extend .text-center;
  @extend .lead;

  margin-bottom: 3rem;
}

// Resource links
.resource-links {
  @extend .list-inline;
  @extend .text-center;
}

.resource-links__link {
  @extend .list-inline-item;
  @extend .mx-4;

  font-size: 18px;
}

.resource-links__icon {
  @extend .mx-2;
}

// Lists
.list {
  margin-bottom: 4rem;
}

.list__title {
  @extend .text-center;

  font-size: 36px;
}