@import "_theme";

// Helpers
%container-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Resets
html {
  background-color: $gray;
  box-sizing: border-box;
  font: {
    family: $montserrat;
    size: 14px;
  }
}

body {
  margin: {
    top: 74px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  line-height: 1.2;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// General
.main-container {
  background-color: $off-white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.page-title {
  font-size: 3.5rem;
  width: 80%;
  text-align: center;
  margin: 0;
}

.page-description {
  font-size: 1.5rem;
  color: $raisin-black;
  width: 70%;
  text-align: center;
  margin: 0;
}

.recommend-button {
  margin: 2rem 0;
}

.text-small {
  font-size: 0.8rem;
}

// Utilities
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

.flex-grow {
  flex: 1;
}

.round {
  border-radius: 100%;
  overflow: hidden;
}

// Links
a,
.link {
  text-decoration: none;
  transition: color .1s ease-in-out;

  color: $blue;

  &:hover,
  &.active {
    color: $dark-blue;
  }
}

.link-dark {
  color: $black;

  &:hover,
  &.active {
    color: $dark-gray;
  }
}

.link-light {
  color: $gray;

  &:hover,
  &.active {
    color: $light-gray;
  }
}

// Header
.header {
  background-color: $purple;
}

.tagline {
  text-align: center;
  padding: {
    top: 1rem;
    left: 4rem;
    right: 4rem;
    bottom: 3rem;
  }
}

.header-separator {
  border: none;
  height: .3rem;
  background-color: $orange;
  margin: 0;
}

// Share
.share-buttons {
  display: flex;
  justify-content: center;
}

.share-button {
  margin-left: 1rem;

  &:first-child {
    margin-left: 0;
  }
}

// Topbar
.topbar {
  background-color: $purple;
  padding: 1rem 5rem;
  height: 74px;
}

.topbar-container {
  display: flex;
  align-items: center;
}

.logo {
  color: $orange;
  font: {
    family: $roboto;
    size: 2.6rem;
  }
  text-decoration: none;
  flex: 1;

  &:hover {
    color: $orange;
  }
}

// Navigation
.navigation {
  display: flex;

  @media (max-width: $screen-medium) {
    display: none;
  }
}

.menu-item {
  padding: 1rem 2rem;
}

// Dropdown menu
.dropdown-menu-toggle {
  &:after {
    content: "\f0d7";
    display: inline-block;
    font-family: $font-awesome;
    padding-left: 0.3rem;
    vertical-align: middle;
  }
}

.dropdown-menu-content {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: .5rem;
  margin: {
    left: -1rem;
    top: .5rem;
  }
  overflow: hidden;
  position: absolute;
}

.dropdown-menu-items {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 1rem 0;
}

.dropdown-menu-item {
  align-items: center;
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;

  &.active {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $white;
    }
  }

  &:hover {
    background-color: $light-gray;
  }
}

[data-dropdown-menu="content"] {
  display: none;
}

// Forms
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  border: 1px solid $light-gray;
  border-radius: .5rem;
  padding: 0.7rem 1rem;
  font: {
    size: 1rem;
    family: $montserrat;
  }
  line-height: 1.5;
  margin: 0.5rem auto;
}

.form-text {
  font-size: 0.8rem;
  color: $dark-gray;
  margin-bottom: 0.5rem;
  text-align: center;
}

.form-small {
  .form-field {
    padding: .25rem .5rem;
    font-size: 0.875rem;
  }

  .form-field {
    border-radius: 0.325rem;
  }
}

.form-inline {
  flex-direction: row;
  align-items: stretch;

  .form-field {
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }
  }

  .button {
    margin-left: .5rem;
  }
}

.text-field {
  background-color: $light-gray;
  width: 100%;
}

// Buttons
.button {
  padding: 0.5rem 3rem;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
  cursor: pointer;
  border-radius: .5rem;
  text-decoration: none;
}

.button-primary {
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;

  &:hover {
    background-color: $dark-blue;
  }
}

.button-light {
  background-color: $white;
  color: $black;
  border: 1px solid $white;

  &:hover {
    background-color: $off-white;
  }
}

.button-outline {
  background-color: $transparent;

  &.button-light {
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &.button-primary {
    color: $blue;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

// Hamburger menu
.button-hamburger {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: $off-white;
  background-color: $transparent;
  border: 1px solid $off-white;

  &:hover,
  &.active {
    background-color: $off-white;
    color: $black;
  }
}

.hamburger-menu {
  display: flex;
  background-color: $off-white;
  padding: 2rem 5rem;
}

.hamburger-menu-item {
  display: block;
  padding: 2rem 0;
  text-align: center;
}

[data-hamburger-menu="toggle"] {
  display: none;

  @media (max-width: $screen-medium) {
    display: block;
  }
}

[data-hamburger-menu="content"] {
  display: none;
}

// Typography
.display-title {
  font: {
    family: $roboto;
    size: 3.5rem;
  }
  line-height: 1.2;

  &.light {
    color: $white;
  }

  .emphasized {
    text-decoration: underline rgba($white, .25);
    font-style: inherit;
  }

  @media (max-width: $screen-small) {
    font-size: 2.5rem;
  }
}

// Cards
$card-bg: $white;

.card {
  display: block;
  padding: 2rem;
  background-color: $white;
  border-radius: .5rem;
  border: 1px solid $light-gray;
  box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
  transition: background-color .3s ease-in-out;
}

a.card:hover {
  background-color: darken($card-bg, 5%);
}

.card-title {
  font-size: 1.75rem;
  color: $black;
  text-align: center;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: $screen-small) {
    font-size: 1.4rem;
  }
}

.card-description {
  color: $dark-gray;
  text-align: center;
  margin: 0;

  @media (max-width: $screen-small) {
    display: none;
  }
}

.card-icon,
.card-no-icon,
.card-icon-large,
.card-no-icon-large {
  margin: 0 auto;
}

.card-icon,
.card-no-icon {
  height: 32px;
  width: 32px;
}

.card-icon,
.card-icon-large {
  display: block;
}

.card-no-icon {
  font-size: 1rem;
  line-height: 2.3;
}

.card-no-icon,
.card-no-icon-large {
  background: $purple linear-gradient(135deg, $purple 0%, $dark-blue 100%);
  color: $white;
  text-align: center;
  font-family: $roboto;
}

.card-icon-large {
  height: 100px;
  width: 100px;
}

.card-no-icon-large {
  height: 100px;
  width: 100px;
  font-size: 3.5rem;
  line-height: 7.4rem;
}

// Categories
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
  justify-content: space-evenly;
  margin: 3rem 4rem;

  @media (max-width: $screen-small) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

// Category
.category {
  @extend %container-flex-column;
  margin: 3rem 0;
}

.category-resources {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
  justify-content: space-evenly;
  margin: 3rem 4rem;

  @media (max-width: $screen-small) {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}

// Resource
.resource {
  @extend %container-flex-column;
  margin: {
    top: 2rem;
    bottom: 3rem;
  }
}

.resource-icon {
  height: 120px;
  width: 120px;
}

.resource-categories {
  margin-bottom: 2rem;
  width: 80%;
  text-align: center;
}

.resource-creators {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  opacity: 0.8;
}

.resource-links {
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  margin: {
    top: 2rem;
    bottom: 1rem;
  }
}

.resource-link {
  margin: 0 1rem;
}

.resource-link-icon {
  margin-right: 0.5rem;
}

.resource-footnote {
  width: 80%;
  margin: 1rem 0;
  font-size: 0.8rem;
  text-align: center;
}

.resource-lists {
  width: 80%;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
  justify-content: space-evenly;
}

// Newsletter
.newsletter-card {
  grid-row: 3;
  grid-column: 1 / -1;
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  overflow: hidden;
  align-items: stretch;

  @media (max-width: $screen-small) {
    flex-direction: column;
  }
}

.newsletter-card-info {
  width: 40%;
  background-color: $purple;
  color: $light-gray;
  text-align: center;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $screen-small) {
    width: 100%;
  }
}

.newsletter-card-title {
  font-size: 1.5rem;
  margin: 0;
  color: $white;

  .emphasized {
    color: $orange;
  }
}

.newsletter-card-description {
  margin: 0;
}

.newsletter-card-form {
  flex: 1;
  padding: 1.5rem 3rem;
}

// Footer
.footer {
  background-color: $raisin-black;
  color: $white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 3rem 4rem;
}

.footer-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;

  .footer-title {
    grid-column: 1 / span 2;
  }

  @media (max-width: $screen-small) {
    display: none;
  }
}

.footer-title {
  color: $white;
  margin: 0;
}

.footer-logo {
  font-size: 1.5rem;
  line-height: 1.2;
  color: $orange;
  margin: {
    top: .4rem;
    bottom: 0;
  }
}

.footer-created-by {
  margin: {
    top: 0;
    bottom: 2rem;
  }
}

.footer-follow-us {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  margin-bottom: 3rem;

  @media (max-width: $screen-small) {
    text-align: center;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $screen-small) {
    align-items: center;
  }
}

.footer-legal {
  margin: 0;
}

// Kaminari (pagination)
.pagination {
  display: flex;

  span {
    border: 1px solid $light-gray;
    border-left: none;
    background-color: $white;

    &:first-child {
        border-left: 1px solid $light-gray;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    &:last-child {
      border-right: 1px solid $light-gray;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    a {
      @extend .link;
    }

    &.current {
      color: $gray;

      &:hover {
        background-color: $white;
      }
    }

    &:hover {
      background-color: $off-white;
    }
  }

  span a,
  span.current {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
}

// Tabs
[data-tabs="pane"] {
  display: none;
}

.tab-bar {
  display: flex;
}

.tab-content {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 0.5rem;
  margin-top: -1px;
  padding: 3rem 2rem;
  width: 100%;
}

.tab {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid $light-gray;
  border-left: none;
  background-color: $white;
  cursor: pointer;

  &:first-child {
    border-left: 1px solid $light-gray;
    border-top-left-radius: 0.5rem;
  }

  &:last-child {
    border-right: 1px solid $light-gray;
    border-top-right-radius: 0.5rem;
  }

  &.active {
    color: $black;
    border-bottom: 1px solid $white;
    z-index: 9999;

    &:hover {
      background-color: $white;
    }
  }

  &:hover {
    background-color: $off-white;
  }
}