<% cache category do %>
  <%= link_to category, class: 'card link' do %>
    <% if category.icon.attached? %>
      <%= image_tag category.icon, class: 'card-icon' %>
    <% else %>
      <%= render 'no_icon', category: category %>
    <% end %>

    <h1 class="card-title">
      <%= category.title %>
    </h1>
  <% end %>
<% end %>