<div class="container-flex-column">
  <%= render 'shared/page_title', title: 'Coming Soon' %>
  <%= render 'shared/page_description',
             description: 'Sign up below to get notified when this category is published.' %>

  <div class="coming-soon-newsletter">
    <%= render 'shared/newsletter_card' %>
  </div>
</div>
