<div class="categories">
  <% cache @categories do %>
    <% @categories.each do |category| %>
      <%= render 'category', category: category %>
    <% end %>
  <% end %>
  <%= render 'shared/newsletter_card' %>
</div>