<div class="row">
  <% @categories.each do |category| %>
    <div class="col-xl-4 col-md-6 col-sm-12 justify-content-center">
      <%= link_to category, class: 'category-summary' do %>
        <div class="category-summary__body">
          <%= image_tag 'no-icon.png', alt: "#{category.title} Icon", class: 'category-summary__icon' %>

          <h3 class="category-summary__title">
            <%= truncate(category.title, length: CATEGORY_SUMMARY_MAX_TITLE_LENGTH) %>
          </h3>
          <%= truncate(category.description, length: CATEGORY_SUMMARY_MAX_DESCRIPTION_LENGTH, separator: ' ') %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>