<%= render 'shared/page_title', title: @category.title %>

<%= render 'shared/page_description', description: @category.description %>

<div class="row">
  <%= render partial: 'resources/resource_summary', collection: @category.resources %>
</div>