<% title @category.title %>
<% set_meta_tags og: { type:        'website',
                       title:       :full_title,
                       image:       APP_SETTINGS['social_share_image'],
                       url:         request.original_url } %>

<% cache [@category, page: params[:page]] do %>
  <div class="container-flex-column">
    <%= link_to 'Back to Categories', root_path, class: 'link category-back' %>

    <%= render 'shared/page_title', content: @category.title %>

    <% cache @category_resources do %>
      <%= render 'resources/resources', resources: @category_resources %>
    <% end %>
  </div>
<% end %>