<div class="header">
  <%= render 'layouts/navbar' %>

  <% if current_page?(root_path) %>
    <h1 class="tagline">Top resources for
      <span class="is-emphasized">indie&nbsp;developers</span>,
      <span class="is-emphasized">bootstrappers</span> and
      <span class="is-emphasized">solo&nbsp;entrepreneurs</span>.
    </h1>

    <%= render 'shared/share_buttons' %>
  <% end %>
  <hr class="full-width-hr">
</div>

