<div class="tagline container">
  <h1 class="display-title light">Top resources for
    <span class="emphasized">indie&nbsp;developers</span>,
    <br><span class="emphasized">bootstrappers</span> and
    <span class="emphasized">solo&nbsp;entrepreneurs</span>.
  </h1>

  <%= render 'shared/share_buttons' %>
</div>