<div class="tagline container">
  <h1 class="display-title light">Top resources for <span class="emphasized" data-circle-words="indie&nbsp;developers,bootstrappers,solo&nbsp;entrepreneurs,makers">indie&nbsp;developers</span></h1>
</div>