<div class="header__tagline container">
  <h1 class="display-title is-light">Top resources for
    <em>indie&nbsp;developers</em>,
    <em>bootstrappers</em> and
    <em>solo&nbsp;entrepreneurs</em>.
  </h1>

  <%= render 'shared/share_buttons' %>
</div>