<% if user_signed_in? %>
  <div class="menu-profile-button">
    <%= link_to destroy_user_session_path, method: :delete, class: 'link' do %>
      <%= gravatar_image_tag(
              current_user.email,
              alt: current_user.email, # TODO: Make this "full name."
              gravatar: { secure: true, rating: 'pg', size: 90 },
              class:    'menu-profile-image')
      %>
    <% end %>
  </div>
<% else %>
  <div class="menu-signup-button">
    <%= link_to 'Sign Up', new_user_registration_path, class: 'button button-primary' %>
  </div>
<% end %>